html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 14px;
        input, input:focus, input:active {
            user-select: text;
        }
    }
}

.wc-login,.wc-register {
    width: 100%;
    height: 100%;
    .wc-logo {
        margin: 60px auto;
        text-align: center;
        img {
            width: 110px;
        }
    }
    form {
        margin: auto;
        width: 80%;
    }
    .wc-button {
        width: 80%;
        padding-top: 20px;
        margin: auto;
        button {
            width: 100%;
            margin: 0;
        }
        > h3 {
            margin: 20px 0 0 0;
            text-align: center;
            a {
                text-decoration: none;
            }
        }
    }
}

#nprogress .bar {
    background: var(--v-primary-base) !important;
}

#nprogress .peg {
    box-shadow: 0 0 15px var(--v-primary-base), 0 0 10px var(--v-primary-base) !important;
}