* {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

html {
    width: 100%;
    height: 100%;
    body {
        background-color: #f8f8f8;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 14px;
        input, input:focus, input:active {
            user-select: text;
        }
        .mt-10 {
            margin-top: 10px;
        }

        .mt-20 {
            margin-top: 20px;
        }

        .mt-30 {
            margin-top: 30px;
        }
    }
}

.message-list {
    font-size: 16px;
    height: calc(100% - 89px);
    margin: 0;
    overflow-y: auto;
    padding: 0;
}

.message-session-heading {
    height: 40px;
    margin: 0;
}

.message-list-item {
    list-style: none;
    padding: 12px 14px 14px;
}

.message-author-name {
    color: #66c;
    float: left;
    font-size: 13px;
    margin: 0;
}

.message-time {
    color: #aad;
    float: right;
    font-size: 12px;
}

.message-text {
    clear: both;
    font-size: 14px;
    padding-top: 10px;
}

.message-composer {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    height: 5em;
    width: 100%;
    margin: 20px 0 0;
    padding: 10px;
}