/**
 * This file is provided by Facebook for testing and evaluation purposes
 * only. Facebook reserves all rights not expressly granted.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * FACEBOOK BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

.chatapp {
    font-family: 'Muli', 'Helvetica Neue', helvetica, arial;
    max-width: 760px;
    margin: 20px auto;
    overflow: hidden;
}

.message-section {
    width: 100%;
    height: 100%;
}
.message-list, .session-list {
    font-size: 16px;
    height: calc(100% - 89px);
    margin: 0;
    overflow-y: auto;
    padding: 0;
}
.message-list {
    padding-top: 40px;
}

.message-session-heading,
.session-count {
    height: 40px;
    margin: 0;
}

.message-list-item, .session-list-item {
    list-style: none;
    padding: 12px 14px 14px;
}

.session-list-item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.session-list:hover .session-list-item:hover {
    background-color: #f8f8ff;
}

.session-list:hover .session-list-item {
    background-color: #fff;
}

.session-list-item.active,
.session-list:hover .session-list-item.active,
.session-list:hover .session-list-item.active:hover {
    background-color: #efefff;
    cursor: default;
}

.message-author-name,
.session-name {
    color: #66c;
    float: left;
    font-size: 13px;
    margin: 0;
}

.message-time, .session-time {
    color: #aad;
    float: right;
    font-size: 12px;
}
.session-time {
    margin-right: 20px;
}

.message-text, .session-last-message {
    clear: both;
    font-size: 14px;
    padding-top: 10px;
}

.message-composer {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    height: 5em;
    width: 100%;
    margin: 20px 0 0;
    padding: 10px;
}
